/* For All Section */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.sticky {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8dcbd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
  overflow: hidden;
}
.logo img {
  width: 100px;
  margin-left: 90px;
}
ul {
  margin-right: 90px;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}
.nav-links li:first-child {
  margin-left: 0;
}
.nav-links a {
  color: gray;
  text-decoration: none;
}
.nav-links a:hover {
  color: #c21e56;
}

.header-section {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
}
.header-h1 {
  color: #272727;
  font-family: Lato;
  font-size: 70px;
  font-weight: 800;
  margin-left: 120px;
  margin-top: 80px;
  margin-bottom: 20px;
  padding-right: 220px;
}
.header-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 120px;
  margin-bottom: 20px;
  padding-right: 220px;
}
.header-btn {
  border: none;
  display: inline-flex;
  padding: 15px 35px;
  border-radius: 7px;
  background: #e55473;
  margin-left: 120px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.header-img {
  margin-right: 200px;
  margin-top: 7px;
}
.header-img img {
  margin-bottom: -3px;
  padding-right: 170px;
  object-fit: cover;
  width: 160%;
}
.top-main-section {
  margin-top: 90px;
  text-align: center;
}
.featured-h4 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.main-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-flower {
  width: 403px;
  padding-top: 90px;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.middle-flower {
  /* width: 25%; */
  width: 380px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding-top: 90px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 40px;
}
.right-flower {
  width: 387px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  margin-right: 40px;
  padding-top: 90px;
  padding-right: 100px;
  padding-left: 100px;
}
.img-lebel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lebel1,
.lebel2,
.lebel3 {
  color: #272727;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.lebel1 {
  margin-left: 100px;
}
.lebel2 {
  margin-right: 0px;
}
.lebel3 {
  margin-right: 100px;
}
.bonus-main {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  background: rgba(229, 84, 115, 0.05);
}
h2 {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
span {
  color: #e55473;
}
.bonus-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.bonus-btn {
  width: 155px;
  border: none;
  margin-top: 30px;
  padding: 15px 35px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.bonus-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.bonus-main img {
  width: 300px;

  margin-left: 40px;
}
.instagram-section {
  padding-top: 100px;
  padding-right: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instagram-section img {
  width: 300px;
  margin: 10px;
}

h3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
.insta-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.latest-deals {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.latest-deals img {
  width: 100%;
  position: relative;
}
.latest-deals .overlay {
  position: absolute;
}
.letest-h2 {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}
.latest-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
}
.email {
  border: none;
  width: 500px;
  height: 45px;
  padding-left: 20px;
  border-radius: 4px;
  background: #fff;
  color: #e55473;
}
.sub-btn {
  margin-left: 10px;
  padding: 13.4px 25px;
  border: none;
  border-radius: 4px;
  background: #e55473;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.review-card {
  text-align: center;
  background-color: #e5547334;
  font-size: 25px;
  margin: 20px 120px;
  padding: 10px;
}

.review {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 110px;
}
.card {
  background-color: white;
  padding: 1.25rem 1.5625rem;
  border-radius: 0.25rem;
  margin-top: 1.25rem;
  width: 21.875rem;
  height: 12.5rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.039),
    -0.25rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.148);

  box-shadow: 0.625rem 0.3125rem 0.3125rem #e554731a,
    -0.25rem 0.3125rem 0.3125rem #e554731a;
}
.card > img {
  margin-bottom: 5px;
  margin-top: 5px;
}
.cards-pera {
  font-size: 0.81rem;
  font-weight: bold;
  line-height: 1.2rem;
  color: hsl(238, 22%, 44%);
  padding-bottom: 5px;
  padding-top: 5px;
}

.img-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.avatar {
  width: 1.825rem;
  height: 1.825rem;
  border-radius: 50%;
  margin-right: 10px;
}
.name {
  font-size: 12px;
  margin: 0;
  color: hsl(243, 87%, 12%);
  text-align: left;
}
.founder {
  font-size: 12px;
  color: gray;
}

footer {
  text-align: center;
  background-color: #111010;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
}
.footer-p {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 25px;
}

.all-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
}
